body,
h1,
h2,
p {
  color: #2F2F28;
  padding: 20px;
}

body {
  background-color: #F0EFF0;
}

h1 {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  color: #2F2F28;
}

h2 {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  color: #2F2F28;
}

p,
a {
  font-family: 'PT Sans', sans-serif;
  color: #20232A;
}

html {
  width: 100.01%;
  height: 100.01%;
}

img {
  padding: 10px;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li a {
  display: block;
  color: #F0EFF0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #AF1C1C;
  transition-duration: .3s;
}

.single-line-adjustment {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-flex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.container-subject {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
}

@media screen and (min-width: 801px) {
  body {background-color: #F4F4EF;}
  .header {
    width: 100%;
    background-color: #31A2AC;
    background-size: cover;
    text-transform: uppercase;
    height: 100px;
    order: 1;
  }

  .flex-box {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .nav {
    width: 100%;
    background-color: #AF1C1C;;
    background-size: cover;
    height: 60px;
    text-transform: uppercase;
    order: 2;
  }

  .main {
    width: 100%;
    background-color: #F0EFF0;
    background-size: cover;
    height: 100%;
    order: 3;
  }

  .webdevelopment {
    width: 100%;
    background-color: #F0EFF0;
    background-size: cover;
    height: 100%;
    order: 6;
  }

  .photography {
    width: 100%;
    background-color: #F0EFF0;
    background-size: cover;
    height: 100%;
    order: 5;
  }

  .photography-detail {
    max-width: 100%;
    height: auto;
  }

  .contact {
    width: 100%;
    background-color: #F0EFF0;
    background-size: cover;
    height: 100%;
    order: 7;
    height: 100px;
  }

  .footer {
    width: 97%;
    background-color: #31A2AC;
    background-size: cover;
    height: 40px;
    bottom: 0;
    position: fixed;
    order: 7;
    padding-left: 30px;
    text-transform: uppercase;
  }

  .copyright-detail {
    margin-top: -10px;
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: #F0EFF0;
    background-size: cover;
  }

  .header {
    width: 100%;
    background-color: #31A2AC;
    background-size: cover;
    height: 100px;
    order: 1;
  }

  .flex-box {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .nav {
    width: 100%;
    background-color: #31A2AC;
    color: #ACBEBE;
    background-size: cover;
    bottom: 0;
    height: 100px;
    position: fixed;
    text-transform: uppercase;
    font-size: 15px;
    order: 6;
  }

  .header-detail {
    font-size: 10px;
    padding-left: 10px;

  }

  .main {
    width: 100%;
    background-color: #F0EFF0;
    background-size: cover;
    height: 100%;
    order: 2;
  }

  .webdevelopment {
    width: 100%;
    background-color: #F0EFF0;
    background-size: cover;
    height: 100%;
    order: 4;
  }

  .photography {
    width: 100%;
    background-color: #F0EFF0;
    background-size: cover;
    height: 100%;
    order: 3;
  }

  .photography-detail {
    max-width: 100%;
    height: auto;
  }

  .contact {
    width: 100%;
    background-color: #F0EFF0;
    background-size: cover;
    height: 100%;
    order: 5;
    height: 300px;
  }

  .footer {
    width: 97%;
    background-color: #31A2AC;
    height: 60px;
    bottom: 0;
    position: fixed;
    order: 7;
    padding-left: 30px;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
  }
}
